body {
	font-family:Myriad Pro, sans-serif;/* рубленные шрифты (шрифты без засечек или гротески)*/
	padding: 0;/*вокруг содержимого элемента*/
	margin: 0;/*Отступы вокруг элемента*/
	color: #cc0000;/*цвет*/
}
.nav-wrapper:after {
	content:'';/*Свойство content позволяет вставлять генерируемое содержание в текст веб-страницы, которое первоначально в тексте отсутствует. Применяется совместно с псевдоэлементами :after и :before, они соответственно указывают отображать новое содержимое после или до элемента, к которому добавляются.*/
	display: table;/*элемент должен быть показан в документе.*/
	width: 100%;
	clear: both;/*Устанавливает, с какой стороны элемента запрещено его обтекание другими элементами*/
}

header {
	background: url(img/banner.png) no-repeat center top /cover;/*фон*/
	height: 581px;
	}
.container
{
	width: 1024px;
	margin: 0 auto;
	padding:0px;
}
.nav-wrapper{
	/*border: 5px solid rgba(255,255,255,1);*/
	text-align: right;
	padding-right: 46px;
	padding-top: 43px;
	padding-bottom: 35px;
}
.nav-wrapper a {
	font-family:Segoe UI;
	text-decoration: none;/*убрать подчек*/
	font-size: 17px;
	margin-left: 38px;
	color: #7c7777;
	}
.Login  {
	background: #de6d6d;
	padding: 3px;
	border-radius: 5px;
	color:white;
	
	}
.Logo-wrapper{
	position: absolute;
	top: 10px;
		}
/*# content{
	font-size:25px;

}
# footer{
	font-size:25px;
}

}
# header{
	font-size:25px;

}*/

 .my-flex-conteiner{
	font-family: Myriad Pro Regular;
	background: #333333;
	color: #aeaeae;
	font-size: 21px;
	display: flex;
	justify-content:space-around;
	align-items:flex-end;
	flex-direction: row;
	padding:43px 127px 36px 197px ;

}
.my-flex-block1 a    {
    
    color: #aeaeae;
    text-decoration: none;
    font-size: 15px;
    
}
.my-flex-block2  a  {
	color: #aeaeae;
	text-decoration: none;
	font-size: 15px;
}
.my-flex-block3 a  {
    
    color: #aeaeae;
    text-decoration: none;
	font-size: 15px;
}
.my-flex-block4  a {
    
    color: #aeaeae;
    text-decoration: none;
    font-size: 15px;
    
}
.my-flex-block5 img{
		

}